{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col">
            {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': apsis_event} %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include '@Modules/apsis_one/views/templates/admin/grids/javascript.html.twig' with {'grid': apsis_event} %}
{% endblock %}