<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>apsis_one</name>
    <displayName><![CDATA[APSIS One Integration]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Grow faster with the all-in-One marketing platform.]]></description>
    <author><![CDATA[APSIS]]></author>
    <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>